<!--<div id="profile">
  <h1>{{user.username}}<h1>
  <img src="{{user.avatar}}">
  <h2 id="score">Score : 0</h2>
</div>-->
{{!-- <input type = button onClick="parent.location= profile.hbs" value='Profile Page'> --}}
<a href="/profile">Profile.page</a>
<button type="submit" id="dice">Categoria</button>
<div id ="die"></div>
<div class="board">
  <canvas id="canvas" width='1000vw' height='500vh'></canvas>
<div>
  <h3 id="ShowMe"></h3>
</div>
</div>