<link rel="stylesheet" href="http://www.marghoobsuleman.com/mywork/jcomponents/image-dropdown/samples/css/msdropdown/dd.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../public/javascripts/script.js"></script>
<script src="http://www.marghoobsuleman.com/mywork/jcomponents/image-dropdown/samples/js/msdropdown/jquery.dd.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("body select").msDropDown();
    });
</script>

<form id="form"action="/sign-up" method="POST" enctype="multipart/form-data">
  <label for ="username">Username</label>
  <input id="username" type="text" name="username" placeholder="Jonh">
  <label for ="password">Password</label>
  <input id="password" type="password" name="password">
  <label>Avatar</label>

  <select name="avatar" id="menu">
    <option value=""></option>
    <option value="https://api.adorable.io/avatars/100/avatar1@adorable.io.png" title="https://api.adorable.io/avatars/100/avatar1@adorable.io.png"></option>
    <option value="https://api.adorable.io/avatars/100/avatar1@adorable.io.png" title="https://api.adorable.io/avatars/100/avatar2@adorable.io.png"></option>
    <option value="https://api.adorable.io/avatars/100/avatar1@adorable.io.png" title="https://api.adorable.io/avatars/100/avatar3@adorable.io.png"></option>
    <option value="https://api.adorable.io/avatars/100/avatar1@adorable.io.png" title="https://api.adorable.io/avatars/100/avatar4@adorable.io.png"></option>
    <option value="https://api.adorable.io/avatars/100/avatar1@adorable.io.png" title="https://api.adorable.io/avatars/100/avatar5@adorable.io.png"></option>
    <option value="https://api.adorable.io/avatars/100/avatar1@adorable.io.png" title="https://api.adorable.io/avatars/100/avatar6@adorable.io.png"></option>
  </select>

  <label>Photo</label>
  <input type="file" name="photo">

  {{#if errorMessage}}
    <div class = "error-message">{{errorMessage}}</div>
    {{/if}}
  {{#if warning}}
    <div>Warning:{{warning}}</div>
  {{/if}}
    {{#if suggestion}}
    <div>Suggestion:{{suggestion}}</div>
  {{/if}}
  <button type="submit">Create Account</button>
</form>