  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/images/player.PNG" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">Trivia-Game</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Profile <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="#">Ranking <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="#">Logout<span class="sr-only">(current)</span></a>
    </div>
  </div>
</nav>
<div class = "center">
<h1>Welcome to {{title}}</h1>

{{#if logado}}
<h1>logado</h1>
 {{/if}}
 
 </div>